header {
	background-color: #050A27;
	height: 1120px;

	.header {
		&__wrapper {
			padding-top: 52px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__logo {
			display: flex;
			align-items: center;

			img {
				width: 62.5px;
				height: 72px;
			}

			p {
				margin-left: 22.5px;
				font-weight: 500;
				font-size: 32px;
				color: #FFFFFF;
			}
		}

		&__inner {
			display: flex;
			align-items: center;
		}

		&__nav {
			ul {
				display: flex;
				justify-content: space-between;


				li {
					margin: 0 14px;

					a {
						display: block;
						font-weight: 500;
						font-size: 18px;
						color: #FFFFFF;
						transition: .3s all;

						&:hover {
							color: gray;
						}
					}
				}

			}
		}

		&__logReg {
			display: flex;
			align-items: center;

			a {
				position: relative;
				margin: 0 28px 0 56px;
				padding: 0 28px;
				font-weight: 500;

				font-size: 18px;
				color: #FFFFFF;
				transition: .3s all;

				&:hover {
					color: gray;
				}

				&::after {
					content: '';
					display: inline-block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					width: 2px;
					height: 50px;
					background: #FFFFFF;
				}

				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: 1px;
					height: 0;
					background: #FFFFFF;
					transition: .3s all;
				}

				&:hover::before {
					height: 50px;
				}
			}

			button {
				width: 192px;
				height: 70px;
				background: #1C37CE;
				border-radius: 15px;
				font-weight: 500;
				font-size: 16px;
				color: #FFFFFF;
				transition: .3s all;
				cursor: pointer;

				&:hover {
					background: #162dab;
				}
			}
		}

		&-info {
			position: relative;
			width: 32px;
			height: 50px;
			margin-left: 82px;
			background: #4C2E88;
			border-radius: 15px;

			&__circle {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 8px;
				height: 8px;
				background: #FFFFFF;
				border-radius: 50px;

				&::before {
					content: '';
					position: absolute;
					bottom: 13px;
					display: block;
					width: 8px;
					height: 8px;
					background: #FFFFFF;
					border-radius: 50px;
				}

				&::after {
					content: '';
					position: absolute;
					top: 13px;
					display: block;
					width: 8px;
					height: 8px;
					background: #FFFFFF;
					border-radius: 50px;
				}
			}
		}
	}

}